body {
  background-color: rgb(235, 197, 197);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}
/* h1{
  font-size: 24px;
  color: #333;
  text-align: center;
}
h1::after{
  content: "";
  display: block;
  width: 100px;
  background-color: #007bff;
  margin: 10px a; */
/* } */
form {
  margin: bottom 50px; ;
  width: 400px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  /* display: flex; */
  /* flex-direction: column; */
}
.form-group label {
  width: 120px;
  font-weight: bolder;
  text-align: left;
}
.form-group input {
  flex: 1;
  padding: 8px;
  border: 2px solid black;
  border-radius: 5px;
}
button {
  display: flex;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  
}
button:hover {
  background-color: #218838;
}
:root {
  --primary-color: #007bff;
  --success-color: #28a745;
}
label.number{
  font-size: 24px;
  font-weight: bold;
}
